.allPost-Container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.allPostTitle-cont{
    display: flex;
    justify-content: center;
    width: 100%;
}
.allPostTitle{
    display: flex;
    justify-content: center;
    color: steelblue;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10rem;
    margin-bottom: 4rem;
    // border-bottom: solid 0.2rem;
    width: 80%;
}
.grid-container{
    display: grid;
    // background-color: red;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
}
.grid-card:hover{
    border: blue solid 15px;
}
.allpost-input-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.allpost-input{
    display: flex;
    width: 80%;
    margin-bottom: 2rem;
}
.allpost-input-search{
    border-radius: 0.6vw;
    width: 25rem;
    height: 2.5rem;
    border: gray solid 1px;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
}
.allpost-btn-cont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.allpost-btns{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.btn-next {
    border-radius: 0.6rem;
    width: 15rem;
    height: 2.8rem;
    border: none;
    color: white;
    background-color: #172261;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  
    &:hover {
      color: white;
      background-color: #787A91;
    }
  }

  .btn-back {
    border-radius: 0.6rem;
    width: 15rem;
    height: 2.8rem;
    border: none;
    color: white;
    background-color: #172261;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  
    &:hover {
      color: white;
      background-color: #787A91;
    }
  }