.allPost-Container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.allPostTitle-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20rem;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../common/images/colleagues-giving-fist-bump.jpg");
}

.allPostTitle {
    display: flex;
    justify-content: center;
    color: #113250;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 14rem;
    width: 80%;

    p {
        margin-left: 0.8rem;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
}

.grid-card:hover {
    border: blue solid 15px;
}

.allpost-input-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.allpost-input {
    display: flex;
    width: 80%;
    margin-bottom: 2rem;
}

.allpost-input-search {
    border-radius: 0.6vw;
    width: 25rem;
    height: 2rem;
    border: gray solid 1px;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
}

.allpost-btn-cont {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.allpost-btns {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.btn-next {
    border-radius: 0.6rem;
    width: 13rem;
    height: 2.5rem;
    border: none;
    color: white;
    background-color: #2B4865;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
        color: white;
        background-color: #787A91;
    }
}

.btn-back {
    border-radius: 0.6rem;
    width: 13rem;
    height: 2.5rem;
    border: none;
    color: white;
    background-color: #2B4865;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
        color: white;
        background-color: #787A91;
    }
}

.btn-active {
    border-radius: 0.6rem;
    width: 13rem;
    height: 2.5rem;
    border: none;
    color: white;
    background-color: #113250;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
        color: white;
        background-color: #787A91;
    }
}

.btn-disabled {
    border-radius: 0.6rem;
    width: 13rem;
    height: 2.5rem;
    border: none;
    color: rgb(165, 164, 164);
    background-color: #bebebe;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

//MEDIAS QUERIES

//Phone X
@media screen and (max-width:420px) {

    .allPostTitle-cont {
        height: 9rem;
    }

    .allPostTitle {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-top: 6rem;

        width: 77%;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        img,
        svg {
            width: 1.2rem;
            margin-bottom: 0 !important;
        }
    }

    .allpost-btns {
        display: flex;
        width: 77%;
        justify-content: space-between;

        button {
            width: 8rem;
            height: 2rem;
            font-size: 1rem;
        }
    }

    .grid-container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        grid-template-columns: none !important;
    }
}

//Phone 12/13 Pro Mas
@media screen and (min-width: 421px) and (max-width: 720px) {
    .allPostTitle-cont {
        height: 9rem;
    }

    .allPostTitle {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-top: 6rem;

        width: 77%;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        img,
        svg {
            width: 1.2rem;
            margin-bottom: 0 !important;
        }
    }

    .allpost-btns {
        display: flex;
        width: 68%;
        justify-content: space-between;

        button {
            width: 8rem;
            height: 2rem;
            font-size: 1rem;
        }
    }

    .grid-container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        grid-template-columns: none !important;
    }
}

//Ipad
@media screen and (min-width: 721px) and (max-width: 1020px) {
    .allPostTitle-cont {
        height: 12rem;
    }

    .allPostTitle {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin-top: 8rem;

        width: 77%;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        img,
        svg {
            width: 2rem;
            margin-bottom: 0 !important;
        }
    }

    .grid-container {
        grid-template-columns: 49% 49% !important;
        grid-gap: 2rem !important;
        width: 80% !important;
    }

    .card {
        // height: 30rem !important;
        margin-bottom: 0;
    }

    .card-title {
        // margin-bottom: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .allpost-btn-cont {
        margin-top: 2rem;
        margin-left: 0.5rem;
    }

    .allpost-btns {
        display: flex;
        width: 70%;
        justify-content: space-between;

        // button {
        //     width: 8rem;
        //     height: 2rem;
        //     font-size: 1rem;
        // }
    }

}

//laptop generic
@media screen and (min-width: 1021px) and (max-width: 1320px) {}