.card {
    width: 18rem;
    height: 32rem;
    margin-bottom: 3rem;
}

.card-btn-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: red;

    p {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0;
    }
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 1rem;
}

.card-costum {
    width: 80vw;
    height: 58vh;
}

.img-costum {
    height: 79%;
    object-fit: cover;
}

.card-xl {
    margin-bottom: 8rem;
}

.btn-group {
    margin-top: 5rem;
    margin-left: 25.5rem;
}

.container-column-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.column-title {
    width: 90%;
    height: 10vh;
    border-bottom: solid 1px #113250;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.column-txt {
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

.card-header {
    font-size: 1rem;
    color: #113250;
    font-weight: bold;
}

.card-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: rgb(56, 69, 83);
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card-date {
    margin-left: 0.5rem;
    font-style: initial;
}

.birtday-today-txt {
    margin-bottom: 0;
    margin-left: 0.5rem;
    color: chocolate;
    text-decoration: underline;
    cursor: pointer;
}

.img-costum-card-featured {
    cursor: pointer;
    max-width: 17.8rem !important;
    max-height: 12rem !important;
    min-width: 17.8rem !important;
    min-height: 12rem !important;
    object-fit: cover !important;
}

.btn-dark {
    background-color: #113250 !important;
}