.card{
    width: 18rem;
    cursor: pointer;
    margin-bottom: 3rem;
}
.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 1rem;
}


.card-costum{
    width: 80vw;
    height: 58vh;
}

.img-costum{
    height: 79%;
    object-fit: cover;
}
.card-xl{
    margin-bottom: 12rem;
}

.btn-group{
       margin-top: 5rem; 
       margin-left: 25.5rem;
}

.container-column-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}
.column-title{
    width: 90%;
    height: 10vh;
    border-bottom: solid 1px #0F044C;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}
.column-txt{
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

.card-header{
    font-size: 1rem;
    color: #141E61;
    font-weight: bold;
}

.card-title{
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: royalblue;
    font-size: 1rem;
}

.card-date{
    margin-left: 0.5rem;
    font-style: initial;
}