.input-comm {
  border-radius: 0.6vw;
  width: 30rem;
  height: 2.8rem;
  border: none;
  padding-left: 1rem;
  font-style: italic;
  font-size: 1rem;
  outline: none;
}

.btn-apply {
  border-radius: 0.6rem;
  width: 12rem;
  height: 2.8rem;
  border: none;
  color: white;
  background-color: #1e8809;
  text-align: center;
  font-size: 18px;

  &:hover {
    color: white;
    background-color: #566573;
  }
}

.btn-cancel {
  border-radius: 0.6rem;
  width: 12rem;
  height: 2.8rem;
  border: none;
  color: white;
  background-color: #970234;
  text-align: center;
  font-size: 18px;

  &:hover {
    color: white;
    background-color: #566573;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  // background: rgba(20, 20, 20, 0.651);
  backdrop-filter: blur(4px);
  z-index: 100;
  // overflow: hidden !important;
}

//IN CONSTRUCTION
.container-inconstruction {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // top: 50%;
  // left: 50%;
  // position: absolute;
  // transform: translate(-50%, -50%);
  // background-color: red;
  margin-top: 13rem;
}

.title-inconstruction {
  color: #787A91;
  font-size: 4.5rem;
  text-align: center;
}

.subtitle-inconstruction {
  color: #141E61;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  text-align: center;
}

//MEDIAS QUERIES

//Phone X
@media screen and (max-width:420px) {
  .title-inconstruction {
    font-size: 2rem;
  }

  .subtitle-inconstruction {
    font-size: 0.8rem;
  }
}

//Phone 12/13 Pro Mas
@media screen and (min-width: 421px) and (max-width: 720px) {
  .title-inconstruction {
    font-size: 2rem;
  }

  .subtitle-inconstruction {
    font-size: 0.8rem;
  }
}

//Ipad
@media screen and (min-width: 721px) and (max-width: 1020px) {
  .container-inconstruction {
    margin-top: 15rem;
  }
}

//laptop generic
@media screen and (min-width: 1021px) and (max-width: 1320px) {}