//carousel y noticias
.dashboard-container {
    width: 100%;
    // height: 213rem;
    // height: 207rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.dashboard-section-1 {
    width: 80%;
    height: 20.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // margin-top: 8rem;
    // background-color: blue;
}

.dashboard-section-1-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 69% 2% 29%;
}

.dashboard-section-1-carousel {
    width: 100%;
    height: 20rem;
    box-shadow: -5px 5px 10px #75AAD3;
    cursor: pointer;
}

.dashboard-section-1-news {
    width: 100%;
    height: 20rem;
}

.dashboard-section-1-news-header {
    p {
        color: #113250;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        margin-top: -0.5rem;
    }
}

.dashboard-section-1-news-title-line {
    content: "";
    width: 3rem;
    height: 0.3rem;
    background-color: #75AAD3;
    font-size: 4px;
    margin-bottom: 1rem;
}

.dashboard-section-1-news-multi {
    width: 100%;
    height: 15.8rem;
    // background-color: red;
}

.dashboard-section-1-news-content {
    display: flex;
    text-align: justify;
    color: #113250;
    width: 100%;
    height: 4rem;
    margin-top: 1.1rem;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    // background-color: red;

    &:hover {
        // background-color: #75AAD3;
        color: #75AAD3;
    }
}

.dashboard-section-1-news-content-txt {
    width: 100%;
    height: 3.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.dashboard-section-1-news-btn-container {
    width: 100%;
    height: 1.65rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.dashboard-section-1-news-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 7.5rem;
    height: 1.3rem;
    border-radius: 1rem;
    background-color: #75AAD3;
    text-decoration: none;

    p {
        font-size: 0.8rem;
        color: white;
        font-weight: normal;
        margin: 0;
    }

}

//dashboard botones y avisos
.dashboard-section-2 {
    width: 80%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: violet;
}

.dashboard-section-2-btn-container {
    width: 100%;
    height: 15rem;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 10rem;
}

.dashboard-section-2-btn {
    width: 10rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    p {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        color: #113250;
        text-align: center;
    }
}

.dashboard-section-2-btn-img {
    width: 8rem;
    margin-bottom: 0.5rem;
}

.dashboard-section-2-line{
    width: 100%;
    height: 0.5rem;
    border-bottom: #BCD3E6 solid 5px;
    margin-top: 5rem;
}
.dashboard-section-2-notices{
    width: 80%;
    height: 16rem;
    // margin-bottom: 10rem;
    // background-color: blue;
}

.dashboard-section-2-notices-txt-cont{
    width: 100%;
    // height: 20rem;
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

.dashboard-section-2-notices-icons{
   width: 80%;
   height: 2rem; 
//    margin-bottom: 1rem;
}

.dashboard-section-2-notices-txt{
    width: 80%;
    height: 9rem;
    margin-left: 3.5rem;
    margin-top: 5rem;
    z-index: 1;

    p{
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
        color: #113250;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-align: justify;
    }
}

.dashboard-section-2-line-cont{
    width: 80%;
    height: 5rem;
    display: flex;
    align-items: center;
    // background-color: red;
}

.dashboard-section-2-quiz{
    width: 80%;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    border: #BCD3E6 0.3rem solid;
    border-radius: 1rem;
}

.dashboard-section-2-quiz-title {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: red;
    // margin-top: 0.5rem;

    p {
        color: #0D2F4C;
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
    }
}

.dashboard-section-2-quiz-title-line {
    content: "";
    width: 3.3rem;
    height: 0.3rem;
    background-color: #75AAD3;
    // margin-top: 0.5rem;
}
.dashboard-section-2-quiz-question-cont{
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    // background-color: blue;
}

.dashboard-section-2-quiz-question{
    width: 70%;
    min-height: 5rem;
    // background-color: red;

    p{
        width: 100%;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: #0D2F4C;
    }
}
.dashboard-section-2-quiz-ansowers{
    width: 100%;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;
}

.dashboard-section-2-quiz-ansower{
    width: 70%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #BCD3E6 0.1rem solid;
    border-radius: 1.5rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    
    p{
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
        color: #0D2F4C;
    }

       &:hover{
            background-color: #0D2F4C;
            border: #BCD3E6 0.3rem solid;
            p{
                color: white;
            }
        }  
}

.dashboard-section-2-quiz-ansower-cont{
    width: 70%;
    height: 3rem;
    display: flex;
    align-items: center;
    border: #BCD3E6 0.1rem solid;
    border-radius: 1.5rem;
    margin-bottom: 0.8rem;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    // background-color: red;
}

.dashboard-section-2-quiz-ansower-text{
    // padding-right: 1rem;
    position: absolute;
    padding-left: 1rem;
    margin: 0;
    font-size: 1rem;
    color: white;
        font-weight: bolder;
}

.dashboard-section-2-quiz-ansower-count{
    width: 70%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #75AAD3;
     border-radius: 1.5rem;
  
// background-color: blue;
    
    p{
        padding-right: 1rem;
        padding-left: 1rem;
        margin: 0;
        font-size: 1rem;
        color: white;
        font-weight: bolder;
        z-index: 1;
    }

    //    &:hover{
    //         background-color: #0D2F4C;
    //         border: #BCD3E6 0.3rem solid;
    //         p{
    //             color: white;
    //         }
    //     }  
}


.dashboard-section-2-quiz-vote-cont{
    width: 100%;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-section-2-quiz-vote{
    width: 70%;
    height: 3rem;
    display: flex;
    align-items: center;
    p{
        margin: 0;
        color: #75AAD3;
        font-size: 1rem;
    }
}


.dashboard-section-2-notices-img-cont{
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -16rem;
    // background-color: red;

    // img{
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
}

.dashboard-section-2-notices-img{
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: -16rem;
    // background-color: red;

    img{
        width: 100%;
        height: 15.5rem;
        object-fit: cover;
    }
}

.dashboard-section-2-notices-separte{
    width: 50%;
    height: 30%;
    border-right: #0D2F4C solid 2px;
    margin-top: 8rem;
}

//avisos y educapp
.dashboard-section-3-container {
    width: 80%;
    height: 28rem;
    display: flex;
    // background-color: yellow;
}
.dashboard-section-3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.dashboard-section-3-figure{
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    // background-color: red;
}

.dashboard-section-3-box{
    width: 23rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    border: #BCD3E6 solid 0.3rem;    
}
.dashboard-section-3-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 5rem;
    background-color: #113250;
    color: white;
    border: #BCD3E6 0.3rem solid;
    border-radius: 1rem; 
}

.dashboard-section-3-img-educapp{
    width: 8rem;
}
.dashboard-section-3-img-photoday{
    width: 10rem; 
}
.dashboard-section-3-img-valuemonth{
    width: 11rem;
}
.dashboard-section-3-line-cont{
    width: 80%;
    height: 5rem;
    display: flex;
    align-items: center;
    // background-color: red;
}
.dashboard-section-3-line{
    width: 100%;
    height: 0.3rem;
    // border-bottom: red solid 5px;
    background-color: #BCD3E6;
}

//cumpleanos y calendario
.dashboard-section-4 {
    width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 6.8rem;
    // background-color: green;
}

.dashboard-section-4-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 42% 5% 53%;
}

.dashboard-section-4-birhtday {
    width: 100%;
    height: 23rem;
    // background-color: yellow;
}

.dashboard-section-4-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #113250;
    color: white;
    border: #BCD3E6 0.3rem solid;
    border-radius: 1rem;
}

.dashboard-section-4-img-birhtday {
    width: 13.5rem;
}

.dashboard-section-4-scroll {
    height: 18.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.dashboard-section-4-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.dashboard-section-4-scroll::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.dashboard-section-4-scroll::-webkit-scrollbar-thumb {
    background-color: #75AAD3;
    border-radius: 0.5rem;
}

.dashboard-section-4-content-birth {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    align-items: center;
    // text-align: justify;
    width: 100%;
    height: 6rem;
    // cursor: pointer;
    border-bottom: 1px solid gainsboro;
    text-decoration: none;

    p {
        margin: 0;
    }

    &:hover {
        p{
            color: #75AAD3;
        }
    }
}

.dashboard-section-4-content-calendar {
    display: grid;
    grid-template-columns: 4% 64% 32%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7rem;
    // cursor: pointer;
    border-bottom: 1px solid gainsboro;

    p {
        margin: 0;
    }

    &:hover {
        p{
            color: #75AAD3;
        }
    }
}

.dashboard-section-4-event-num {
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-section-4-date {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }
}

.dashboard-section-4-day {
    text-align: center;
    width: 4rem;
    height: 3.8rem;
    // background-color: red;
    font-size: 2.8rem;
    font-weight: bold;
    color: #113250;
}

.dashboard-section-4-month {
    color: #113250;
    font-size: 1rem;
}

.dashboard-section-4-employee {
    display: flex;
    display: flex;
    align-items: center;
}

.dashboard-section-4-employee-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2rem solid #75AAD3;
    margin-left: 2rem;
}

.dashboard-section-4-text {
    margin-left: 0.5rem;
    width: 11rem;
    // background-color: red;

    p {
        font-size: 1rem;
        color: #113250;
    }
}

.dashboard-section-4-event {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    margin-left: 0.5rem;

    p {
        margin: 0;
    }
}

.dashboard-section-4-event-txt {
    font-size: 1rem;
    color: #113250;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.dashboard-section-4-event-date-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-section-4-event-date {
    font-size: 1rem;
    font-weight: bold;
    color: #113250;
}

.dashboard-section-4-event-time {
    font-size: 1rem;
    color: #113250;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.dashboard-section-4-dates-descrp {
    font-size: 1rem;
    color: #113250;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: justify;
}



.dashboard-nodata-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // margin-top: 2rem;
    img {
        width: 8rem;
        height: 8rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        color: #113250;
        margin: 0;
    }
}

.dashboard-section-4-calendary-slider{
    width: 100%;
    // height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation-delay: 5s;
    // background-color: red;

}

@keyframes opacityTransitionActivities{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes opacityTransitionDates{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes transformX{
    from{
        transform:  translateX(-70px)
    } 
    to{
        transform: translateX(0px);
    }
}

@keyframes transformXs{
    from{
        transform:  translateX(-70px)
    } 
    to{
        transform: translateX(0px);
    }
}

.dashboard-section-4-silder-animation-activities{
    // animation: transformX 1s ease-in;
    animation: opacityTransitionActivities 0.8s ease-in;
}
.dashboard-section-4-silder-animation-dates{
    // animation: transformXs 1s ease-in;
    animation: opacityTransitionDates 0.8s ease-in;
}

// .dashboard-section-4-calendary-activities{
//     background-color: blue;
//     width: 2.5rem;
//     height: 2.5rem;
// }
// .dashboard-section-4-calendary-dates{
//     background-color: blue;
//     width: 2.5rem;
//     height: 2.5rem;
// }

//Multimedia
.dashboard-section-5 {
    width: 80%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 5rem;
    // background-color: orange;
}

.dashboard-section-5-container {
    width: 100%;
    height: 35rem;
    background-color: #113250;
    border: #BCD3E6 0.3rem solid;
    border-radius: 1.5rem;
}

.dashboard-section-5-header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin-top: 0.5rem;

    p {
        color: white;
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
    }
}

.dashboard-section-5-line {
    content: "";
    width: 3.5rem;
    height: 0.3rem;
    background-color: white;
    // margin-top: 0.5rem;
}

.dashboard-section-5-grid {
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-columns: 54% 46%;
}

.dashboard-section-5-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    p {
        width:35rem;
        height: 4rem;
        text-align: center;
        font-size: 0.89rem;
        margin: 0;
        font-weight: bold;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    img{
        width:35rem;
        height: 22rem;
    }
}

.dashboard-section-5-video-onclick{
    width: 37rem;
    height: 26rem;
    position: absolute;
    cursor: pointer;
    // background-color: red;
}

.dashboard-section-5-galery {
    width: 100%;
    height: 100%;
}

.dashboard-section-5-galery-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
}

.dashboard-section-5-grid-onclick{
    width: 14.5rem;
    height: 8rem;
    position: absolute;
    cursor: pointer;
    // border: red solid 1px;
}

.dashboard-section-5-galery-grid-mult {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    cursor: pointer;

    p {
        width: 80%;
        height: 2.5rem;
        text-align: center;
        font-size: 0.8rem;
        margin: 0;
        // font-weight: bold;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
.dashboard-section-5-galery-grid-mult-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-section-5-galery-img-cont {
    width: 14.5rem;
    height: 9rem;
    // background-color: #113250;
}

.dashboard-section-5-galery-img {
    width: 14.5rem;
    height: 9rem;
    object-fit: cover;
    cursor: pointer;
}

.dashboard-section-5-galery-icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    color: white;
    margin-top: 2.5rem;
    margin-right: 3rem;
}

.dashboard-section-5-galery-icon-main {
    width: 6rem;
    height: 6rem;
    position: absolute;
    color: white;
    margin-bottom: 1.5rem;
    cursor: pointer;
}


.dashboard-section-5-btn-container {
    width: 100%;
    height: 1.65rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // margin-top: 1rem;
    margin-left: -2rem;
}

.dashboard-section-5-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 8.6rem;
    height: 1.3rem;
    border-radius: 1rem;
    background-color: #75AAD3;
    text-decoration: none;

    p {
        font-size: 0.8rem;
        color: white;
        font-weight: normal;
        margin: 0;
    }

}


//REACT VIEWER
.react-viewer-mask{
    background: rgba(10, 10, 10, 0.829) !important;   
}
.react-viewer-btn{
    background-color: #0D2F4C!important;
}
.react-viewer-list{
    height: 4rem !important;
}
.react-viewer-list > li {
    width: 5rem !important;
    height: 3.5rem !important;
}
.react-viewer-list > li > img {
    width: 5rem !important;
    height: 3.5rem !important;
    margin-left: -5px !important;
}

.dashboard-section-6 {
    width: 80%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 1rem;
    // background-color: blue;
}

.dashboard-section-6-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-section-6-logo-icon {
    width: 4rem;
    height: 4rem;
}

.dashboard-section-6-logo-name {
    color: #113250;
    font-weight: bold;
    margin: 0;
    margin-top: 1.5rem;
}

.dashboard-section-6-logo-mention {
    color: #113250;
    // font-weight: bold;
    font-size: 0.8rem;
}

//social
.dashboard-section-7 {
    width: 90%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 3rem;
    // background-color: red;
}
.dashboard-section-7-grid {
    display: grid;
    width: 100%;
    height: 35rem;
    grid-template-columns: 33% 1% 33%  1% 32%;
    // background-color: red;
}

.dashboard-section-7-section {
    width: 100%;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;

    p {
        color: #113250;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
    }
}

.twitterContainer{
    width: 21rem;
}

.dashboard-section-7-section-instagram {
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: gainsboro solid 1px;
    // background-color:rgb(248, 246, 246);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // border-radius: 0.5rem;
    text-decoration: none;
    // background-color: red;
}
.dashboard-section-7-section-instagram-logo{   
    width: 17rem;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
    // background-color: red;
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
    p{
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 0.3rem;
    }
}
.dashboard-section-7-section-instagram-img{
    width: 18rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // margin-top: 0.5rem;
    background-color: white;
    img{
        width: 18rem;
        height: 10rem;
        object-fit: cover;
    }

    iframe{
        width: 18rem;
        height: 10rem;
    }

}
.dashboard-section-7-section-instagram-text{
    width: 18rem;
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    // background-color: blue;
    margin-top: 0.3rem;
    p{
        margin: 0;
        font-size: 0.88rem;
        font-weight: normal;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: black;
    }
}
.dashboard-section-7-section-instagram-icons{
    width: 8rem;
    height: 1.5rem;
    display: flex;
    justify-content:space-around;
    align-self: start;
    margin-top: 1.2rem;
    // background-color: red;
}

.dashboard-section-7-section-instagram-icon{
    color:rgb(131, 131, 131);
    cursor: pointer;
    &:hover{
        color: #75AAD3;
    }
}

.dashboard-section-7-section-instagram-likes{
    width: 18.8rem;
    height: 2rem;
    margin-top: 0.5rem;
    // background-color: red;
    p{
        margin: 0;
        font-size: 0.8rem;
        margin-left: 0.5rem;
        color: black;
    }
}

.dashboard-section-7-section-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: green;
}
.dashboard-section-7-section-line {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        width: 0.2rem;
        height: 10rem;
        background-color: gainsboro;
        // margin-top: 2.5rem;
    }
}

.dashboard-section-7-scroll {
    width: 75%;
    height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    border: gainsboro solid 1px;
}
.dashboard-section-7-scroll-fb {
    width: 75%;
    height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    border: gainsboro solid 1px;
}
// .dashboard-section-7-scroll-fb {
//     width: 90%;
//     height: 16rem;
//     overflow-y: auto;
//     overflow-x: hidden;
//     z-index: 10;
// }
// .dashboard-section-7-fb{
//     z-index: 0;
// }
.dashboard-section-7-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.dashboard-section-7-scroll::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.dashboard-section-7-scroll::-webkit-scrollbar-thumb {
    background-color: #75AAD3;
    border-radius: 0.5rem;
}

.dashboard-section-7-scroll-fb::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.dashboard-section-7-scroll-fb::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.dashboard-section-7-scroll-fb::-webkit-scrollbar-thumb {
    background-color: #75AAD3;
    border-radius: 0.5rem;
}

.dashboard-section-7-box {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    align-items: center;
    // text-align: justify;
    width: 100%;
    height: 6rem;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    text-decoration: none;

    p {
        margin: 0;
    }
}
.dashboard-section-7-content{
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-section-7-content-container{
    width: 25rem;
    height: 2rem;
    display: flex;
}

.dashboard-section-7-content-logo{
    width: 2rem;
    height: 2rem;
    // background-color: red;
    img{
        width: 2rem;
        margin-top: 1rem;
    }
}
.dashboard-section-7-content-title{
    width: 15.3rem;
    height: 1rem;
    margin-top: 0.5rem;
    // background-color: red;
    p{
        margin: 0;
        font-size: 0.65rem;
        font-weight: bold;
    }
}

.dashboard-section-7-content-date{
    width: 9rem;
    height: 1rem;
    margin-top: 0.5rem;
    // background-color: blue;
    p{
        margin: 0;
        font-size: 0.65rem;
        color: gray;
    }
}

.dashboard-section-7-content-text{
    width: 18rem;
    // margin-top: -9rem;
    // background-color: blue;
    p{
        margin: 0;
        font-size: 0.7rem;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    &:hover {
        p{
            color: #75AAD3;
        }
    }
}

.facebook-timeline{
    width: 24rem;
    height: 156.25rem;
}

//POPUP
.dashboard-popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-popup-window {
    position:  fixed;
    // background-color: red;
    z-index: 10;
    overflow: hidden;
    width: 55%;
    height: 45rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
}

.dashboard-popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.829);
    // opacity: 0.4;
    // backdrop-filter: blur(2px);
    z-index: 4;
}
.dashboard-popup-modal-title {
    color: white;
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bold;
}
.dashboard-popup-box-onclick{
    width: 10rem;
    height: 10rem;
    position: absolute;
    cursor: pointer;
    z-index: 20;
    // border: red solid 2px;
}
.dashboard-popup-iframe{
    width: 45rem;
    height: 25rem;
}
.dashboard-popup-txt{
    width: 45rem;
    height: 4rem;
   color:white;
   margin-top: 0.5rem;
   font-size: 1rem;
   margin: 0;
}

.dashboard-popup-recent{
    width: 45rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(41, 40, 40, 0.63);
}
.dashboard-popup-recent-box-cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dashboard-popup-recent-box{
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    p {
        width: 100%;
        height: 2.5rem;
        text-align: center;
        font-size: 0.85rem;
        margin: 0;
        // font-weight: bold;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.dashboard-popup-recent-box-text{
    width: 100%;
    height: 1.2rem;
    // background-color: red;
    margin: 0;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    justify-self: flex-start;
    align-self: flex-start;
    P{
        margin-left: 2.5rem;
        margin-top: 0.3rem;
    }
}

.dashboard-popup-iframe-box{
    width: 10rem;
    height: 6.5rem;
    display: flex;
}



//MEDIAS QUERIES

//Phone X
// @media screen and (max-width:420px) {


// //Phone 12/13 Pro Mas
// @media screen and (min-width: 421px) and (max-width: 720px) {



// //Ipad
// @media screen and (min-width: 721px) and (max-width: 1020px) {



//Móviles en horizontal o tablets en vertical
@media screen and (min-width: 768px)  {}


//laptop generic
@media screen and (min-width: 1279px) and (max-width:1365px)  {

    //carousel y noticias
    .dashboard-container {
        margin-top: 8.8rem;
    }
    .dashboard-section-1 {
        height: 16.7rem;
        // margin-top: 8rem;
        //   background-color: red;
    }

    .dashboard-section-1-carousel {  
        height: 16rem;
    }

    .dashboard-section-1-news {
        height: 16rem;
    }

    .dashboard-section-1-news-multi {
        height: 12.3rem;
    }
    
    .dashboard-section-1-news-content {
        height: 3.5rem;
        margin-top: 0.5rem;
    }
    
    .dashboard-section-1-news-content-txt {
        height: 3rem;
        font-size: 0.69rem;
    }

    //dashboard botones y avisos
    .dashboard-section-2 {
        height: 14.5rem;
    }

    .dashboard-section-2-btn-container {
        height: 11rem;
    }

    .dashboard-section-2-btn {
        width: 8rem;
        height: 10rem;

        p {
            font-size: 0.8rem;
        }
    }

    .dashboard-section-2-btn-img {
        width: 7rem;
    }
    .dashboard-section-2-notices{
        height: 15rem;
    }

    .dashboard-section-2-line-cont {
        height: 1.5rem;
        align-items: flex-start;
        // margin-bottom: 1rem;
        // background-color: red;
    }
    
    .dashboard-section-2-notices-txt{
        p{
            font-size: 0.8rem;
        }
    }
    
    .dashboard-section-2-notices-img{    
        height: 15rem;
        img{
            height: 12.91rem;
        }
    }
    
    .dashboard-section-2-notices-separte{
        height: 25%;
        margin-top: 8.8rem;
    }

     //avisos y educapp
     .dashboard-section-3-container {
        width: 80%;
        height: 28rem;
    }
    .dashboard-section-3-figure{
        justify-content: flex-start;
        align-items: center;
    }
    .dashboard-section-3-box{
        width: 20rem;
        height: 20rem;
    }
    .dashboard-section-3-header {
        width: 20rem;
        height: 3.5rem;
    }

     //cumpleanos y calendario
     .dashboard-section-4 {
        height: 22.5rem;
    }

    .dashboard-section-4-header {
        height: 4.5rem;
    }

    .dashboard-section-4-img-birhtday {
        width: 12rem;
    }

    .dashboard-section-4-scroll {
        height: 16.5rem;
    }

    .dashboard-section-4-content-birth {
        height: 5.5rem;
    }

    .dashboard-section-4-content-calendar {
        height: 6rem;
        grid-template-columns: 4% 62% 34%;
    }

    .dashboard-section-4-event-num {
        height: 5.5rem;
    }

    .dashboard-section-4-day {
        height: 3rem;
        font-size: 2.5rem;
    }

    .dashboard-section-4-month {
        font-size: 0.9rem;
    }

    .dashboard-section-4-employee-img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .dashboard-section-4-text {
        width: 15rem;
        // background-color: red;
        p {
            font-size: 0.9rem;
        }
    }

    .dashboard-section-4-event-txt {
        font-size: 0.9rem;
    }

    .dashboard-section-4-event-time {
        font-size: 0.9rem;
    }
    // img{
    //     width:30rem;
    //     height: 19rem;
    // }
    //Multimedia
    .dashboard-section-5 {
        height: 32rem;
    }

    .dashboard-section-5-container {
        height: 28rem;
    }

    .dashboard-section-5-header {
        height: 4.5rem;
        p {
            font-size: 1.6rem;
        }
    }

    .dashboard-section-5-line {
        height: 0.2rem;
    }

    .dashboard-section-5-grid {
        height: 20.6rem;
        grid-template-columns: 54% 45%;
    }

    .dashboard-section-5-video {
        // background-color: red;
        p {
            width:30rem;
        }
        img{
            width:30rem;
            height: 18rem;
        }
    }
    
    // .dashboard-section-5-video-onclick {
    //     width: 30rem;
    //     height: 18rem;
    // }

    // .dashboard-section-5-galery-grid-mult {
    //     img{
    //         width: 13rem;
    //         height: 7rem;
    //     }
    // }

    .dashboard-section-5-galery-img-cont {
        width: 13rem;
        height: 7rem;
    }

    .dashboard-section-5-galery-img {
        width: 13rem;
        height: 7rem;
    }

    .dashboard-section-5-galery-icon {
        width: 3.5rem;
        height: 3.5rem;
    }

    .dashboard-section-5-btn-container {
        margin-left: -1rem;
    }

    ///logo
    .dashboard-section-6 {
        height: 15rem;
    }

    //social
    .twitterContainer{
        width: 20.5rem;
    }
    .dashboard-section-7-section-instagram {
        width: 16rem;
    }
    .dashboard-section-7-section-instagram-logo{   
        width: 14rem;
        img{
            width: 1.2rem;
            height: 1.2rem;
        }
        p{
            font-size: 0.68rem;
        }
    }
    .dashboard-section-7-section-instagram-img{
        width: 15rem;
        height: 18rem;
        img{
            width: 15rem;
            height: 9rem;
        }
    
        iframe{
            width: 15rem;
            height: 9rem;
        }
    
    }
    .dashboard-section-7-section-instagram-text{
        width: 15rem;
        height: 7rem;
        p{
            font-size: 1rem;
        }
    } 
    
    .dashboard-section-7-section-instagram-likes{
        width: 15.8rem;
        p{
            font-size: 0.68rem;
        }
    }

    // .facebook-timeline{
    //     width: 24rem;
    //     height: 156.25rem;
    // }
    .dashboard-section-7-scroll {
        width: 90%;
    }
    .dashboard-section-7-scroll-fb {
        width: 90%;
    }

    .dashboard-popup-window {
        width:67%;
    }
}

//laptop yelissa
@media screen and (min-width: 1366px ) and (max-width:1367px) {

   //carousel y noticias
    .dashboard-container {
        margin-top: 8.8rem;
    }

    .dashboard-section-1 {
        height: 16.8rem;
        // margin-top: 8rem;
    }

    .dashboard-section-1-carousel {  
        height: 16rem;
    }

    .dashboard-section-1-news {
        height: 16rem;
    }

    .dashboard-section-1-news-multi {
        height: 12.3rem;
    }

    .dashboard-section-1-news-content {
        height: 3.5rem;
        margin-top: 0.5rem;
    }

    .dashboard-section-1-news-content-txt {
        height: 3rem;
        font-size: 0.69rem;
    }
    //dashboard botones y avisos
    .dashboard-section-2 {
        height: 14.5rem;
    }

    .dashboard-section-2-btn-container {
        height: 11rem;
    }

    .dashboard-section-2-btn {
        width: 8rem;
        height: 10rem;

        p {
            font-size: 0.8rem;
        }
    }

    .dashboard-section-2-btn-img {
        width: 7rem;
    }
    .dashboard-section-2-notices{
        height: 15rem;
    }

    .dashboard-section-2-line-cont {
        height: 1.5rem;
        align-items: flex-start;
        // margin-bottom: 1rem;
        // background-color: red;
    }
    
    .dashboard-section-2-notices-txt{
        p{
            font-size: 0.8rem;
        }
    } 
    .dashboard-section-2-notices-img{    
        img{
            height: 13.8rem;
        }
    }
    .dashboard-section-2-notices-separte{
        height: 25%;
        margin-top: 8.8rem;
    }

    //avisos y educapp
    .dashboard-section-3-container {
        width: 80%;
        height: 25rem;
    }
    .dashboard-section-3-figure{
        width: 23rem;
        justify-content: center;
        align-items: center;
    }
    .dashboard-section-3-box{
        width: 20rem;
        height: 20rem;
    }
    .dashboard-section-3-header {
        width: 20rem;
        height: 4.5rem;
    }
    .dashboard-section-3-line-cont{
        width: 80%;
        height: 5rem;
        display: flex;
        align-items: center;
        // background-color: red;
    }
    .dashboard-section-3-line-cont {
        height: 4.5rem;
    }

    //cumpleanos y calendario
    .dashboard-section-4 {
        height: 22.5rem;
    }
    .dashboard-section-4-header {
        height: 4.5rem;
    }

    .dashboard-section-4-img-birhtday {
        width: 12rem;
    }

    .dashboard-section-4-scroll {
        height: 16.5rem;
    }

    .dashboard-section-4-content-birth {
        height: 5.5rem;
    }

    .dashboard-section-4-content-calendar {
        height: 6rem;
        grid-template-columns: 4% 62% 34%;
    }

    .dashboard-section-4-event-num {
        height: 5.5rem;
    }

    .dashboard-section-4-day {
        height: 3rem;
        font-size: 2.5rem;
    }

    .dashboard-section-4-month {
        font-size: 0.9rem;
    }

    .dashboard-section-4-employee-img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .dashboard-section-4-text {
        width: 15rem;
        p {
            font-size: 0.9rem;
        }
    }

    .dashboard-section-4-event-txt {
        font-size: 0.9rem;
    }

    .dashboard-section-4-event-time {
        font-size: 0.9rem;
    }
   

    //Multimedia
    .dashboard-section-5 {
        height: 33rem;
    }

    .dashboard-section-5-container {
        height: 29rem;
    }

    .dashboard-section-5-header {
        height: 4.5rem;
        p {
            font-size: 1.6rem;
        }
    }

    .dashboard-section-5-line {
        height: 0.2rem;
    }

    .dashboard-section-5-grid {
        height: 21rem;
        // grid-template-columns: 51% 1% 48%;
    }

    .dashboard-section-5-video {
        p {
            width:31rem;
        }
        img{
            width:31rem;
            height: 18.5rem;
        }
    }
    
    .dashboard-section-5-video-onclick {
        width: 31rem;
        height: 18.5rem;
    }

    .dashboard-section-5-galery-grid-mult {
        img{
            width: 13rem;
            height: 7rem;
        }
    }

    .dashboard-section-5-galery-img-cont {
        width: 13rem;
        height: 7rem;
    }

    .dashboard-section-5-galery-img {
        width: 13rem;
        height: 7rem;
    }

    .dashboard-section-5-galery-icon {
        width: 3.5rem;
        height: 3.5rem;
    }

    .dashboard-section-5-btn-container {
        margin-left: -2.4rem;
    }

       ///logo
       .dashboard-section-6 {
        height: 15rem;
    }

    //social
    .twitterContainer{
        width: 20.5rem;
    }
    .dashboard-section-7-section-instagram {
        width: 16rem;
    }
    .dashboard-section-7-section-instagram-logo{   
        width: 14rem;
        img{
            width: 1.2rem;
            height: 1.2rem;
        }
        p{
            font-size: 0.68rem;
        }
    }
    .dashboard-section-7-section-instagram-img{
        width: 15rem;
        height: 18rem;
        img{
            width: 15rem;
            height: 9rem;
        }
    
        iframe{
            width: 15rem;
            height: 9rem;
        }
    
    }
    .dashboard-section-7-section-instagram-text{
        width: 15rem;
        height: 7rem;
        p{
            font-size: 1rem;
        }
    } 
    
    .dashboard-section-7-section-instagram-likes{
        width: 15.8rem;
        p{
            font-size: 0.68rem;
        }
    }

    .dashboard-section-7-scroll {
        width: 84%;
    }
    .dashboard-section-7-scroll-fb {
        width: 84%;
    }
    .dashboard-popup-window {
        width:67%;
    }
}

//Monitor hp 2009m
@media screen and (min-width: 1600px) and (max-width:1601px){

    .dashboard-section-2-notices-img{    
         img{
             height: 16.2rem;
         }
     }

    //  .dashboard-section-4-content-calendar {
    //     grid-template-columns: 4% 66% 30%;
    // }

    //  .dashboard-section-7-scroll {
    //     width: 90%;
    // }
    .dashboard-section-7 {
        width: 70%;
    }

    .dashboard-section-7-grid {
        grid-template-columns: 27% 9% 27%  9% 28%;
    }
    
    .dashboard-section-7-scroll {
        width: 100%;
    }
     .twitterContainer {
        width: 21.7rem;
    }
    .dashboard-section-7-scroll-fb {
        width: 100%;
    }

    .facebook-timeline {
        width: 25rem;
    }
}

//Monitor cesar
@media screen and (min-width: 1920px) and (max-width:1921px){
    .dashboard-section-1 {
        width: 70%;
    }

    .dashboard-section-2 {
        width: 70%;
    }

    .dashboard-section-2-line-cont {
        width: 70%;

    }
    
    .dashboard-section-2-notices {
        width: 70%;
        height: 19rem;
    }

    .dashboard-section-2-notices-img-cont {
        height: 22rem;
    }
    .dashboard-section-2-notices-separte {
        margin-top: 10.5rem;
    }
    
    .dashboard-section-2-notices-img{    
        img{
            height: 17rem;
        }
    }

    .dashboard-section-2-quiz {
        width: 70%;
    }

    .dashboard-section-3-container {
        width: 70%;
    }

    .dashboard-section-3-line-cont {
        width: 70%;
    }

    .dashboard-section-3-figure {
        width: 23rem;
    }

    .dashboard-section-4 {
        width: 70%;
    }

    .dashboard-section-5 {
        width: 70%;
    }
    .dashboard-section-5-container {
        width: 100%;
        height: 36rem;
    }

    .dashboard-section-5-video-onclick {
        width: 40rem;
        height: 25rem;
        position: absolute;
        cursor: pointer;
    }

    .dashboard-section-5-grid {

        grid-template-columns: 57% 43%;
        height: 26.5rem;
    }
    
    .dashboard-section-5-video img {
        width: 40rem;
        height: 25rem;
    }
    .dashboard-section-5-btn-container {
        margin-left: -3rem;
    }

    .dashboard-section-7 {
        width: 70%;
    }

    .dashboard-section-7-grid {
        grid-template-columns: 27% 9% 27%  9% 28%;
    }
    
    .dashboard-section-7-scroll {
        width: 100%;
    }
     .twitterContainer {
        width: 21.7rem;
    }
    .dashboard-section-7-scroll-fb {
        width: 100%;
    }

    .facebook-timeline {
        width: 25rem;
    }

}


//laptop david
// @media screen and (min-width: 2420px){

//        //carousel y noticias
//        .dashboard-container {
//             margin-top: 22rem;
//         }

//      .dashboard-section-1 {
//          height: 51rem;
//         //  margin-top: 7rem;
//         //  background-color: blue;
//      }
 
//      .dashboard-section-1-carousel {  
//          height: 50rem;
//      }

//      .dashboard-section-1-news-header p {
//         font-size: 2rem;
//     }

//     .dashboard-section-1-news-title-line {
//         content: "";
//         width: 7rem;
//         height: 0.6rem;
//     }

//      .dashboard-section-1-news {
//         height: 45rem;
//      }
 
//      .dashboard-section-1-news-multi {
//          height: 40rem;
//      }
 
//      .dashboard-section-1-news-content {
//          height: 11.2rem;
//          margin-top: 0.8rem;
//      }
 
//      .dashboard-section-1-news-content-txt {
//          height: 9.8rem;
//          font-size: 2rem;
//         //  background-color: red;
//      }

//      .dashboard-section-1-news-btn-container {
//         height: 5rem;
//         // background-color: red;
//     }

//     .dashboard-section-1-news-btn {
//         width: 18.5rem;
//         height: 3.5rem;
//     }
//     .dashboard-section-1-news-btn p {
//         font-size: 2.1rem;
//     }

//      //dashboard botones y avisos
//      .dashboard-section-2 {
//          height: 45rem;
//         //  background-color: blue
//      }
 
//      .dashboard-section-2-btn-container {
//          height: 30rem;
//         //  background-color: blue;
//      }
 
//      .dashboard-section-2-btn {
//          width: 30rem;
//          height: 30rem;
//         //  background-color: red;
 
//          p {
//              font-size: 2.6rem;
//          }
//      }
 
//      .dashboard-section-2-btn-img {
//          width: 17rem;
//      }
//      .dashboard-section-2-notices{
//          height: 58rem;
//         //  background-color: red;
//      }

//      .dashboard-section-2-line-cont {
//         height: 2rem;
//     }
     
//      .dashboard-section-2-notices-txt{
//         width: 80%;
//         height: 5rem;
//         margin-top: 32rem;
//         margin-left: 3.5rem;
//          p{
//              font-size: 2.5rem;
//          }
//      } 
//      .dashboard-section-2-notices-img-cont {
//         height: 20rem;
//     }
//      .dashboard-section-2-notices-img{    
//          img{
//              height: 51.8rem;
//          }
//      }
//      .dashboard-section-2-notices-separte{
//          height: 50%;
//          margin-top: 32.8rem;
//      }
 
//      //avisos y educapp
//      .dashboard-section-3-container {
//          width: 80%;
//          height: 58rem;
//         //  background-color: red;
//      }
//      .dashboard-section-3-figure{
//          width: 53rem;
//          justify-content: center;
//          align-items: center;
//         //  background-color: blue;
//      }
//      .dashboard-section-3-box{
//          width: 50rem;
//          height: 50rem;
//         //  background-color: green;
//      }
//      .dashboard-section-3-header {
//          width: 50rem;
//          height: 8.5rem;
//      }
//      .dashboard-section-3-img-educapp {
//         width: 16rem;
//     }
//     .dashboard-section-3-img-photoday {
//         width: 18rem;
//     }
//     .dashboard-section-3-img-valuemonth {
//         width: 19rem;
//     }
//      .dashboard-section-3-line-cont{
//          width: 80%;
//          height: 5rem;
//          display: flex;
//          align-items: center;
//          // background-color: red;
//      }
//      .dashboard-section-3-line-cont {
//          height: 4.5rem;
//      }
 
//      //cumpleanos y calendario
//      .dashboard-section-4 {
//          height: 60rem;
//      }
//      .dashboard-section-4-header {
//          height: 10.5rem;
//      }
 
//      .dashboard-section-4-img-birhtday {
//          width: 25rem;
//      }
 
//      .dashboard-section-4-scroll {
//          height: 32.5rem;
//      }
//      .dashboard-section-4-scroll::-webkit-scrollbar {
//         width: 20px;
//     }
    
 
//      .dashboard-section-4-content-birth {
//          height: 10.5rem;
//      }
 
//      .dashboard-section-4-content-calendar {
//          height: 10.5rem;
//          grid-template-columns: 5% 67% 28%;
//      }
 
//      .dashboard-section-4-event-num {
//          height: 10rem;
//      }
 
//      .dashboard-section-4-day {
//         width: 100%;
//         height: 5rem;
//         font-size: 5rem;
//      }
 
//      .dashboard-section-4-month {
//          font-size: 2.5rem;
//      }
 
//      .dashboard-section-4-employee-img {
//          width: 7.5rem;
//          height: 7.5rem;
//      }
 
//      .dashboard-section-4-text {
//         width: 70rem;
//          p {
//              font-size: 2.5rem;
//          }
//      }
 
//      .dashboard-section-4-event-txt {
//          font-size: 2.5rem;
//      }
 
//      .dashboard-section-4-event-time {
//          font-size: 2.5rem;
//      }
    
 
//      //Multimedia
//      .dashboard-section-5 {
//          height: 90rem;
//         //  background-color: red;
//      }
 
//      .dashboard-section-5-container {
//          height: 80rem;
//      }
 
//      .dashboard-section-5-header {
//          height: 10rem;
//         //    background-color: red;
//          p {
//              font-size: 3.5rem;
//          }
//      }
//      .dashboard-section-5-line {
//         width: 8.5rem;
//          height: 0.6rem;
//      }
 
//      .dashboard-section-5-grid {
//          height: 65rem;
//          grid-template-columns: 51% 1% 48%;
//         //  background-color: red;
//      }

//     .dashboard-section-5-video-onclick {
//         width: 118rem;
//         height: 61rem;
//         // background-color: blue;
//     }

//      .dashboard-section-5-video {
//          p {
//              width:95rem;
//              height: 12rem;
//              font-size: 2.5rem;
//             //  background-color: red;
//          }
//          iframe{
//              width:118rem;
//              height: 60rem;
//          }
//      }

//      .dashboard-section-5-galery-grid-mult {
//         justify-content: flex-start;
//          iframe{
//              width: 50rem;
//              height: 25rem;
//          }

//          p{
//             font-size: 2rem;
//          }
//         //  background-color: red;
//      }
 
//      .dashboard-section-5-galery-img-cont {
//          width: 50rem;
//          height: 25rem;
//      }
 
//      .dashboard-section-5-galery-img {
//          width: 50rem;
//          height: 25rem;
//      }
 
//      .dashboard-section-5-galery-icon {
//          width: 3.5rem;
//          height: 3.5rem;
//      }
 
//      .dashboard-section-5-btn-container {
//          margin-left: -5rem;
//          height: 3rem;
//         //  background-color: blue;
//      }
//      .dashboard-section-5-btn {
//         width: 20rem;
//         height: 3rem;
//         p{
//             font-size: 2.1rem;
//         }
//     }
 
//         ///logo
//         .dashboard-section-6 {
//          height: 25rem;
//      }
//      .dashboard-section-6-logo-icon {
//         width: 7rem;
//         height: 7rem;
//     }
 
//      //social
//      .dashboard-section-7 {
//          height: 25rem;
//      }
 
//      .dashboard-section-7-grid {
//          grid-template-columns: 30% 1% 34% 1% 34%;
//      }
     
//      .dashboard-section-7-section-instagram {
//          width: 10.5rem;
//          height: 15rem;
//      }
//      .dashboard-section-7-section-instagram-logo{   
//          padding-left: 1.8rem;
//          img{
//              width: 0.8rem;
//              height: 0.8rem;
//          }
//          p{
//              margin-left: 0.4rem;
//          }
//      }
//      .dashboard-section-7-section-instagram-img{
//          width: 10rem;
//          height: 9.7rem;
//          img{
//              width: 10rem;
//              height: 7rem;
//          }   
//      }
//      .dashboard-section-7-section-instagram-likes{
//          p{
//              font-size: 0.5rem;
//          }
//      }
     
//      .dashboard-section-7-scroll {
//          width: 90%;
//          height: 15rem;
//      }
 
//  }