.dashboard-container{
    width: 100%;
    height: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-section-1{
    width: 85%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-section-1-grid{
   display: grid;
   width: 100%;
    grid-template-columns: 70% 1% 29%;
}
.dashboard-section-1-carousel{
    width: 100%;
    height: 18rem;
    box-shadow: -5px 5px 10px #75AAD3;
    cursor: pointer;
    // background-color: red;
}
.dashboard-section-1-news{
    width: 100%;
    // background-color: blue;
    height: 18rem;
}
.dashboard-section-1-news-header{
    p{
        color: #0B2C4B;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }
}
.dashboard-section-1-news-title-line{
    content: "";
    width: 3rem;
    height: 0.3rem;
    background-color: #75AAD3;
    font-size: 5px;
    margin-bottom: 0.5rem;
}

///@at-root
.dashboard-first-seccion-news-content{
    display: flex;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    width: 100%;
    height: 4.5rem;
    // margin-top: 0.2rem;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    &:hover{
        background-color: #2B4865;
        color: white;
    }
}

.dashboard-first-seccion-news-content-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: justify;
    // background-color: white;
}

.dashboard-first-seccion-news-content-txt-title{
    font-weight: bold;
    font-size: 0.72rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-left: 1rem;
    padding-right: 1rem;
}

// .dashboard-first-seccion-news-content-txt-inf{
//     width: 98%;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
//     font-size: 0.7rem;
//     // margin-top: 0.2rem;
// }