.dashboard-main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5.3rem;
}

.dashboard-first-seccion-container{
    display: grid;
    grid-template-columns: 79% 0.5% 20.5%;
    width: 99%;
    height: 15rem;
    margin-bottom: 1.5rem;
}
.dashboard-first-seccion-carousel{
 background-color: white;
 height: 16rem; 
 cursor: pointer;
}

.dashboard-first-seccion-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: #F77E21 solid 1px;
}
.dashboard-first-seccion-separation{
    background-color: transparent;
}
.dashboard-first-seccion-news-header{
    background-color:#F77E21 ;
    display: flex;
    text-align: center;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    color: white;
}
.dashboard-first-seccion-news-header-txt{
    font-size: 0.9rem;
    font-weight: bold;
    // color: rgb(42, 52, 63);
}

.dashboard-first-seccion-news-content{
    display: flex;
    align-items: center;
    width: 95%;
    height: 3.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    &:hover{
        background-color: #A1E3D8;
    }
}
.dashboard-first-seccion-news-content-img{
    width: 5.5rem;
    height: 2.5rem;
    object-fit: cover;
    padding-left: 0.3rem;
}
.dashboard-first-seccion-news-content-txt{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    // background-color: white;
}
.dashboard-first-seccion-news-content-txt-title{
    font-weight: bold;
}

.dashboard-first-seccion-news-content-txt-inf{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.8rem;
}
.dashboard-news-btn{
    width: 8rem;
    height: 1.8rem;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    background-color: gainsboro;
    &:hover{
        background-color:#F77E21
    }
}
.dashboard-second-seccion-container{
    display: grid;
    grid-template-columns: 29% 0.5% 49.5% 0.5% 20.5%;
    width: 99%;
    height: 15rem;
    margin-bottom: 2.5rem;
}

.dashboard-second-seccion-birth{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: #0f80b1 solid 1px;
}

.dashboard-second-seccion-birth-header{
    background-color:#0f80b1;
    display: flex;
    text-align: center;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    font-weight: bold;
    color: white;
}

.dashboard-second-birth-employee{
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: center;

    width: 95%;
    height: 4rem;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    &:hover{
        background-color: #A1E3D8;
    }
}
.dashboard-second-birth-employee-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 75% 5% 20%;
}
.dashboard-second-birth-employee-inf{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: red;
}

.dashboard-second-birth-employee-day{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // background-color: blue;
}

.dashboard-second-birth-employee-photo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: #0f80b1 solid 1px;
    margin-left: 0.3rem;
}
.dashboard-second-birth-employee-name{
    // font-weight: bold;
    // margin-top: 1rem;
    margin-left: 0.5rem;
}

.dashboard-birth-btn{
    width: 8rem;
    height: 1.8rem;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    &:hover{
        background-color:#0f80b1;
    }
}

.dashboard-second-seccion-board{
    // background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-second-seccion-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: white solid 1px;
}
.dashboard-second-video-title{
    margin: 0;
    color: #2C3639;
    font-weight: bold;
    margin-top: 0.2rem;
}
.dashboard-second-activities{
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    width: 95%;
    height: 4rem;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    &:hover{
        background-color: #A1E3D8;
    }
}
.dashboard-second-activities-grid{
    display: grid;
    grid-template-columns: 45% 55%;
    width: 100%;
    height: 100%;
}
.dashboard-second-activities-header{
    background-color:#FF6363 ;
    display: flex;
    text-align: center;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    font-weight: bold;
    color: white;
}
.dashboard-second-activities-caledar{


}
.dashboard-second-event-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 75% 25%;
}
.dashboard-second-activities-event{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #FF6363 solid 1px;
    margin-left: 0.5rem;
    background-color: white;
}
.dashboard-third-seccion-board{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 99%;
    height: 8rem;
    margin-bottom: 0.5rem;
}
.dashboard-third-seccion-board-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    margin-left: 1rem;
}
.dashboard-third-seccion-board-btn{
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.45;
    &:hover{
        opacity: 10;
    }
}
.dashboard-third-seccion-board-btn-txt{
    color: white;
    font-size: 1.5rem;
}

.dashboard-fourth-seccion-board{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 99%;
    height: 12rem;
    margin-bottom: 2.5rem;
    border: solid 1px #14C38E;
}

.dashboard-fourth-promotions-header{
    background-color:#14C38E;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 100%;
    font-weight: bold;
    color: white;
}

.dashboard-fourth-promotions-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99.2%;
    height: 8rem;
    margin-top: 1.2rem;  
}
.dashboard-fourth-promotions-content-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.5rem;
    // margin-top: 0.6rem;
    cursor: pointer;
    overflow:hidden;
 
    &:hover img{
        -webkit-transform:scale(1.3);transform:scale(1.3)
        
    }
}


.dashboard-fourth-promotions-banner-img{
    width: 95%;
    height: 7.5rem;
    object-fit: cover;
    transition: 350ms;
}
///calendar
.react-calendar{
    width: 100%;
}