.requestmain-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.requestmain-buttons-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.requestmain-button {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    border: #0D2F4C solid 3px;
    border-radius: 0.5rem;
    cursor: pointer;

    p {
        margin: 0;
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        color: #113250;
    }

    img {
        width: 3rem;
    }

    &:hover {
        background-color: gainsboro;
    }
}

.requestmain-btn-img{
    width: 5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #F24A72;
}

.requestmain-btn-text{
    width: 5rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: blue;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.form-header {
    width: 100%;
    height: 6rem;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 12rem;
    margin-bottom: 1rem;
    // background-color: red;
}

.form-header-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #113250;
    font-size: 2.5rem;

    p {
        margin: 0;
    }
}

.form-header-menu- {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header-menu-text {
    width: 90%;
    height: 2rem;
    display: flex;
    // align-items: center;
    // border: gray solid 1px;

    p {
        width: 10rem;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        margin: 0;
        padding-left: 0.5rem;
        border: gray solid 1px;
        // border-top: gray solid 1px;
    }
}

.form-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//vaction
.vacation-container {
    width: 96%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    // margin-top: 10rem;
    // background-color: red;
}

.vacation-header {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: #113250;
    margin-bottom: 1rem;

    p {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding-left: 1rem;
    }
}

.vacation-content {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    // background-color: red;
}

.vacation-input {
    width: 100%;
    height: 3rem;
    display: flex;

    p {
        width: 12rem;
        height: 2rem;
        font-size: 0.89rem;
        color: #113250;
        font-weight: bold;
        margin: 0;
    }

    input {
        width: 20rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: gainsboro solid 1px;
        padding-left: 0.2rem;

        &:focus {
            border: #79ADD4 solid 1px;
        }
    }

    select {
        width: 20rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: gainsboro solid 1px;
        padding-left: 0.2rem;

        &:focus {
            border: #79ADD4 solid 1px;
        }
    }
}

.vacation-input-date {
    display: flex;

    input {
        width: 6rem;
        margin-right: 1rem;
    }

    select {
        width: 6rem;
        margin-right: 1rem;
    }
}

.vacation-section3-container {
    width: 100%;
    height: 13rem;
    display: grid;
    grid-template-columns: 30% 70%;
    // background-color: red;
}

.vacation-content-subtitle {
    width: 100%;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    margin-bottom: 0.8rem;

    p {
        color: #79ADD4;
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
    }
}

.vacation-section3-radio {
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: red;

    input {
        width: 0.8.5rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    label {
        font-size: 0.89rem;
        color: #113250;
        font-weight: bold;
        margin: 0;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        cursor: pointer;
    }
}

.vacation-section3-title {
    // display: flex;
    width: 100%;
    // background-color: red;

    p {
        font-size: 0.89rem;
        color: #113250;
        font-weight: bold;
        margin: 0;
        margin-right: 0.5rem;
    }

    label {
        font-size: 0.89rem;
        color: #113250;
        font-weight: bold;
        margin: 0;
        // margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        cursor: pointer;
    }

    textarea {
        width: 25rem;
        height: 8rem;
        border-radius: 0.5rem;
        border: gainsboro solid 1px;
        padding-left: 0.2rem;
        resize: none;

        &:focus {
            border: #79ADD4 solid 1px;
        }
    }
}

.vacation-section3-textarea {
    display: flex;
    width: 45rem;
    margin-top: 2rem;

    textarea {
        margin-top: -2rem;
    }
}

.vacation-section3-radio-cont {
    width: 100%;
    display: flex;
}

.vacation-section4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    p {
        width: 100%;
        height: 2rem;
        font-size: 0.89rem;
        color: #113250;
        font-weight: bold;
        margin: 0;
        text-align: center;
    }
}

.vacation-section4-line-container {
    width: 20rem;
    height: 5rem;
    // background-color: red;
}

.vacacion-section4-canvas {
    width: 20rem;
    // height: 5rem;
    // background-color: red;
}

.vacacion-section4-mt {
    margin-top: 5rem;
}

.vacation-section4-line {
    width: 20rem;
    height: 3rem;
    text-align: center;
    // margin-top: 5rem;

    P {
        height: 0.2rem;
        background-color: #113250;
    }

    span {
        color: black;
    }

}

.vacation-status {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
        color: #F24A72;
        font-size: 1rem;
        font-weight: bold;
    }

    button {
        width: 17rem;
        height: 2rem;
    }
}

.vacation-signature-applicant {
    width: 20rem;
    position: absolute;
    left: 0;
    margin-top: -5rem;
}

.vacation-signature-supervisor {
    width: 20rem;
    position: absolute;
    left: 72rem;
    margin-top: -5rem;
}

.vacation-signature-rrhh {
    width: 20rem;
    position: absolute;
    left: 38rem;
    margin-top: -10rem;
}

.vacation-section5 {
    width: 100%;
    height: 100%;
    display: flex;
}

.vacation-section5-days-avalibable {
    width: 100%;
    height: 15rem;
    display: flex;

    input {
        width: 8rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: gainsboro solid 1px;
        padding-left: 0.2rem;

        &:focus {
            border: #79ADD4 solid 1px;
        }
    }

    select {
        width: 8rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: gainsboro solid 1px;
        padding-left: 0.2rem;

        &:focus {
            border: #79ADD4 solid 1px;
        }
    }
}

.vacation-section5-days-avalibable-title {
    width: 15rem;
    height: 5rem;
    // background-color: rebeccapurple;
    font-size: 0.89rem;
    color: #113250;
    font-weight: bold;
    margin: 0;

    p {
        margin-top: 2rem;
    }
}

.vacation-section5-days-avalibable-inputs {
    width: 16rem;
    display: flex;
    flex-direction: column;
}

.vacation-section5-days-avalibable-inputs-section {
    width: 35rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    // background-color: #F24A72;

    p {
        font-size: 0.89rem;
        color: #113250;
        font-weight: bold;
        margin: 0;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    
}

//MODAL

.image-crop-modal-window {
    position: fixed;
    background: white;
    border-radius: 0.5rem;
    box-shadow: black 2px 2px 10px;
    z-index: 10;
    overflow: hidden;
    width: 60rem;
    height: 42rem;
    margin: auto;
}

.image-crop-modal-btn-cut-container {
    width: 100%;
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
}

.image-crop-modal-btn-upload {
    border-radius: 0.5rem;
    width: 6rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    // margin-bottom: 0.3rem;
    border: none;
    color: white;
    background-color: #3FA796;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: #566573;
    }
}

.image-crop-modal-btn-cut {
    border-radius: 0.5rem;
    width: 6rem;
    height: 1.5rem;
    margin-right: 0.3rem;
    // margin-bottom: 0.3rem;
    border: none;
    color: white;
    background-color: #FEC260;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: #566573;
    }
}

.image-crop-modal-preview-container {
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

    p {
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        color: #79ADD4;
    }

    // background-color: #F24A72;

}

.image-crop-modal-preview-img {
    width: 25rem;
    height: 9rem;
    border: #79ADD4 solid 1px;

    // background-color: blue;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.image-crop-modal-button-container {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
        width: 10rem;
        height: 2rem;
    }
}