@import "../styles/common";

.img-login {
  width: 10rem;
}

.container-login {
  // border: rgb(148, 177, 194) solid;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.txt-title {
  color: white;
  font-family: "Work Sans", Sans-serif;
  font-size: 55px;
}
.txt-subtitle {
  color: #163466;
  font-family: "Work Sans", Sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.login-input{
    border-radius: 0.6vw;
    width: 25rem;
    height: 2.8rem;
    border: #566573 solid 1px;
    padding-left: 1rem;
    font-style: italic;
    font-size: 1rem;
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
.container-input{
  // margin-top: 3rem!important;
  background-color: white;
  width: 480px;
  height: 480px;
  display: flex;
  align-content: center;
  border-radius: 10px;
}
.txt-forgot {
  color: #163466;
  font-style: italic;
  font-size: 14px;
  width: 25rem;
  cursor: pointer;
}

.btn-login {
  border-radius: 0.6rem;
  width: 18rem;
  height: 2.8rem;
  border: none;
  color: white;
  background-color: #163466;
  text-align: center;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: white;
    background-color: #8CB2C4;
  }
}
.btn-create {
  border-radius: 0.6rem;
  border: #163466 solid 1px;
  width: 18rem;
  height: 2.8rem;
  color: #163466;
  background: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color:#8CB2C4;
  }
}
