@import "../styles/common";

.container-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.login-dgappLogo-container {
  width: 100%;
}

.login-dgappLogo-img {
  width: 12%;
  margin-left: 1rem;
  margin-top: 1rem;
}

.txt-title {
  color: #787A91;
  // font-family: "Work Sans", Sans-serif;
  font-size: 3rem;
  margin-top: 4rem;
}

.txt-subtitle {
  color: #113250;
  // font-family: "Work Sans", Sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.container-btn-login {
  margin-top: 1.5rem;
}

.container-input-user {
  margin-bottom: 2.5rem;
}

.login-input {
  border-radius: 0.6rem;
  width: 25rem;
  height: 2.5rem;
  border: #566573 solid 1px;
  padding-left: 1rem;
  font-style: italic;
  font-size: 1rem;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.container-input {
  background-color: white;
  width: 30rem;
  height: 33rem;
  display: flex;
  align-content: center;
  border-radius: 0.8rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.txt-forgot {
  color: #113250;
  font-style: italic;
  font-size: 0.8rem;
  width: 25rem;
  cursor: pointer;
}

.btn-login {
  border-radius: 0.6rem;
  width: 15rem;
  height: 2.5rem;
  border: none;
  color: white;
  background-color: #2B4865;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;

  &:hover {
    color: white;
    background-color: #787A91;
  }
}

.btn-create {
  border-radius: 0.6rem;
  border: #2B4865 solid 1px;
  width: 15rem;
  height: 2.5rem;
  color: #2B4865;
  background: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

//MEDIAS QUERIES

//Phone X
@media screen and (max-width:420px) {

  .login-dgappLogo-img {
    width: 20%;
  }

  .txt-title {
    font-size: 1.5rem;
  }

  .container-input {
    width: 20rem;
    height: 30rem;
    border-radius: 0.5rem;
  }

  .txt-subtitle {
    font-size: 0.8rem;
  }

  .login-input {
    border-radius: 0.5rem;
    width: 17rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  .container-input-user {
    margin-bottom: 1.5rem;
  }

  .txt-forgot {
    font-size: 0.5rem;
    width: 17rem;
  }

  .btn-login {
    border-radius: 0.5rem;
    width: 10rem;
    height: 2rem;
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  .btn-create {
    border-radius: 0.5rem;
    width: 10rem;
    height: 2rem;
    font-size: 0.8rem;
  }

}

//Phone 12/13 Pro Mas
@media screen and (min-width: 421px) and (max-width: 720px) {
  .login-dgappLogo-img {
    width: 12%;
  }

  .txt-title {
    font-size: 2rem;
  }

  .container-input {
    width: 23rem;
    height: 35rem;
    border-radius: 0.5rem;
  }

  .txt-subtitle {
    font-size: 1rem;
  }

  .login-input {
    border-radius: 0.5rem;
    width: 20rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .container-input-user {
    margin-bottom: 2rem;
  }

  .txt-forgot {
    font-size: 0.8rem;
    width: 20rem;
  }

  .btn-login {
    border-radius: 0.5rem;
    width: 12rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .btn-create {
    border-radius: 0.5rem;
    width: 12rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}

//Ipad
@media screen and (min-width: 721px) and (max-width: 1020px) {
  .login-dgappLogo-img {
    width: 12%;
  }

  .txt-title {
    font-size: 3rem;
  }

  .container-input {
    width: 30rem;
    height: 33rem;
    border-radius: 0.5rem;
  }

  .txt-subtitle {
    font-size: 1.5rem;
  }

  .login-input {
    border-radius: 0.5rem;
    width: 25rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  .container-input-user {
    margin-bottom: 2.5rem;
  }

  .txt-forgot {
    font-size: 0.8rem;
    width: 25rem;
  }

  .btn-login {
    border-radius: 0.5rem;
    width: 15rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .btn-create {
    border-radius: 0.5rem;
    width: 15rem;
    height: 2.5rem;
    font-size: 1rem;
  }

}

//laptop
// @media screen and (min-width: 0px) and (max-width: 0px) {
//   .login-dgappLogo-img {
//     width: 22%;
//   }

//   .txt-title {
//     font-size: 2rem;
//   }

//   .container-input {
//     width: 23rem;
//     height: 35rem;
//     border-radius: 0.5rem;
//   }

//   .txt-subtitle {
//     font-size: 1rem;
//   }

//   .login-input {
//     border-radius: 0.5rem;
//     width: 20rem;
//     height: 2.5rem;
//     padding-left: 1rem;
//     font-size: 0.8rem;
//   }

//   .container-input-user {
//     margin-bottom: 2rem;
//   }

//   .txt-forgot {
//     font-size: 0.8rem;
//     width: 20rem;
//   }

//   .btn-login {
//     border-radius: 0.5rem;
//     width: 12rem;
//     height: 2.5rem;
//     font-size: 1rem;
//     margin-top: 1rem;
//   }

//   .btn-create {
//     border-radius: 0.5rem;
//     width: 12rem;
//     height: 2.5rem;
//     font-size: 1rem;
//   }
// }