.multimedia-dashboard-container{
    width: 80%;
    height: 38rem;
    // background-color: red;
}
.multimedia-dashboard-title{
    height: 11rem;
    // justify-content: flex-end;
}
.multimedia-dashboard-fotos{
    width: 100%;
    height: 15rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: blue;
}
.multimedia-dashboard-fotos-title{
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: flex-end;
    p{
        margin: 0;
        padding-left: 2.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: #75AAD3;
    }
}

.multimedia-dashboard-fotos-img{
    width: 100%;
    height: 10.8rem;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // background-color: blue;
    img{
        width: 16rem;
        height: 8rem;
        object-fit: cover;
    }
    P{
        width: 16rem;
        height: 3.5rem;
        // background-color: red;
        font-size: 0.8rem;
        font-weight: bold; 
        color: #0D2F4C;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 0;
        margin-top: 0.5rem;
    }
}

.slick-slide {
    width: 19rem !important; 
} 

.slick-next {
    top: 36%;
}
.slick-prev {
    top: 36%;
}
.multimedia-dashboard-galery-icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    color: white;
    margin-top: -2.5rem;
    // margin-left: 6rem;
}
.multimedia-dashboard-btn-container {
    width: 12.9%;
    height: 1.8rem;
    display: flex;
    justify-content: flex-end;
    // align-items: flex-end;
    // margin-top: 1rem;
    // margin-left: 1.5rem;
    // background-color: red;
}

.multimedia-dashboard-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 8.3rem;
    height: 1.3rem;
    border-radius: 1rem;
    background-color: #75AAD3;
    text-decoration: none;
    padding-right: 0.8rem;

    p {
        font-size: 0.8rem;
        color: white;
        font-weight: normal;
        margin: 0;
    }

}
.slick-arrow{
    &:before{
        background-color: #0D2F4C;
        color: white;
        border-radius: 1.5rem;
        font-size: 1.5rem;
    }
}

///GALLERY
.multimedia-images-container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multimedia-box-img-icon{
    width: 23rem;
    height: 2rem;
}
.multimedia-images{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // background-color: red;
}
.multimedia-images-box{
    width: 25rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: blue;
    img{
        width: 23rem;
        height: 13rem;
        object-fit: cover;
        cursor: pointer;
    }
}
.multimedia-images-box-text{
    width: 23rem;
    height: 5rem;
    cursor: pointer;
    // background-color: red;
    // margin-top: -5rem;
}
.multimedia-images-box-text-title{
    width: 23rem;
    min-height: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    // background-color: blue;
}

.multimedia-images-box-text-date{
    width: 13;
    // height: 5rem;
    // display: flex;
    // justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 0;
    color: #75AAD3;
}

//VIDEOS GALLERY
.multimedia-video-main{
    width:  80%;
    height: 31.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;

    iframe{
        width: 48rem;
        height: 28rem;
    }
}
.multimedia-video-main-text{
    width: 48rem;
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 0.5rem;
    // background-color: red;
    p{
        color: #0D2F4C;
        font-size: 1rem;
        font-weight: bold;
        text-align: justify;
    }
}
.multimedia-video-slider-container{
    width: 80%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    // background-color: red;
}

.multimedia-box-video-icon{
    width: 15rem;
    height: 2rem;
}

.multimedia-video-slider-box{
    width: 16.5rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // background-color: blue;
    img{
        width: 15rem;
        height: 9rem;
        cursor: pointer;
    }
    
}

.multimedia-video-slider-box-text{
    width: 15rem;
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 0.5rem;
    p{
        color: #75AAD3;
        font-size: 0.8rem;
        text-align: justify;
        cursor: pointer;
    }
}

//MEDIAS QUERIES

//laptop generic
@media screen and (min-width: 1279px) and (max-width:1365px)  {

    .multimedia-dashboard-btn-container {
        width: 14.5%;
    }
    
    .multimedia-dashboard-fotos-img{
        img{
            width: 14rem;
        }
        P{
            width: 14rem;
        }
    }

    .slick-slide {
        width: 15.75rem !important; 
    } 
}

//laptop yelissa
@media screen and (min-width: 1366px ) and (max-width:1367px) {

    .multimedia-dashboard-btn-container {
        width: 14.5%;
    }
    
    .multimedia-dashboard-fotos-img{
        img{
            width: 14rem;
        }
        P{
            width: 14rem;
        }
    }

    .slick-slide {
        width: 16.86rem !important; 
    } 
}

//Monitor hp 2009m
@media screen and (min-width: 1600px) and (max-width:1601px){
    .slick-slide {
        width: 19.75rem !important; 
    } 
}
//Monitor cesar
@media screen and (min-width: 1920px) and (max-width:1921px){

    .multimedia-dashboard-container {
        width: 70%;
    }
    .slick-slide {
        width: 20.80rem !important; 
    } 
}





