
.menu_items{
    display: flex;
    flex-wrap: wrap;
}
nav{
    position: fixed;
    z-index: 1;
    top: 0;
}
nav ul{
    padding: 0;
    margin: 0;
    background-color: none;
}

nav ul li{
    // background-color: rgba(20, 30, 97, .9);
    position: relative;
    list-style: none;
    display: inline-block;
    margin-bottom: 1rem;
}

nav ul li p{
    display: block;
    color:white;
    text-decoration: none;
    font-size: calc(0.1em + 0.9vw);
    height: 100%;
    margin-bottom: 0;
    cursor: pointer;
}

nav ul p:hover{
    color: white;
    cursor: pointer;
}

nav ul ul p:hover{
    // background: #2e4957;
    color: #122129;
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer;
}
nav ul ul{
    position: absolute;
    display: none;
}

nav ul li:hover > ul{
    display: block;
    padding: 0 0.5rem;
    padding-top: 0.5rem;
    // background-color: rgba(20, 30, 97, .96);
    background-color: darkcyan;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul ul li{ 
    float: none;
    display: list-item;
    position: relative;
}  

nav ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #EEEEEE;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: 0.4s ease-out;
}

nav ul li:hover::before{
    width: 100%;
}

nav ul li ul li:hover::before{
    width: 0%;
}

.icondown{
    width: 0.6rem;
    margin-left: 0.5rem;   
    margin-bottom: 0.1rem;
}

.class-list{
    margin-left: 2rem;
    margin-right: 2rem;
}

.container-menu-right{
    display: flex;
    margin-right: 3rem;
    align-items: center;
}

.user-icon {
  width: 2.2rem;
  margin-right: 0.4rem ;
}
.user-text {
  color: #75828d;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.flag-us {
    width: 2.2rem;
    margin-right: 2.3rem;
    cursor: pointer;
  }
  .flag-spain {
    width: 2.2rem;
    margin-right: 2.8rem;
    cursor: pointer;
  }

.bar_menu{
    // background-color: #4B778D;
    background-color: darkcyan;
    height: 6rem; 
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6) ;
}

.logo_dgapp{
    width: 8rem;
    margin-left: 1.5rem;
}
.btn_menu{
    cursor: pointer;
    display: none;
}
.btn_menu-img{
    width: 2.5rem;
    margin-right: 2rem;
}

.nav-user-img{
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    margin-top: 1rem;
    // margin-left: 1.5rem;
    object-fit: cover;
    border: 0.2rem solid rgb(42, 52, 63);
    cursor: pointer;
    // margin-right: 5rem;
}
.nav-user-txt-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-user-name{
  color: white;
  font-size: 1.5rem;
  margin-top: 2rem;
//   cursor: pointer;
}

.nav-user-position{
    color:rgb(42, 52, 63);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.nav-user-close{
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: underline;
}

.nav-user-notf-cont{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dropdown-item{
    margin: 0;
    cursor: pointer;
}

.menu-left{
left: 6.8rem;
top: -0.5rem;
width: 8rem;
}

// @media screen and (max-width: 400px) {
//     .bar_menu{
//         height: 65px;
//     }
//     .btn_menu{
//         display: inline-flex;
//     }


//     .container-menu-right{
//         display: none;
//     }
//     .menu_items_show{
//         position: fixed;
//         width: 100vw;
//         height: calc(100% - 65px);
//         background: #414141;
//         // top: -100vh;
//         text-align: center;
//         transition: all .4s;
//         flex-direction: column;
//         top: 65px;
//         color: white;
//     }
//     .menu_items li{
//         display: none;
//     }
//     .menu_items li:hover{
//         background: none;
//     }
//     // .menu_items li a:hover {
//     //     color: red;
//     // }
//     .logo_dgapp{
//         width: 5rem;
//     }

//     .class-list{
//         display: block;
//         background: #414141;
//         // margin-left: 4.5rem;
//         // margin-right: 4.5rem;

//     }
//     nav ul li p{
//         font-size: 1.5rem;
//         margin-bottom: 0;
//     }

//     nav ul{
//         background: #414141;
//     }
//     nav ul li::before {
//         content: "";
//         height: 0;
//         width: 0;
//         left: 0;
//         bottom: 0;
//         transition: none;
//     }

// } 
// @media screen and (min-width: 401px) and (max-width: 720px) {
//     .bar_menu{
//         height: 65px;
//     }
//     .btn_menu{
//         display: inline-flex;
//     }
//     // .btn_menu-img{
//     //     width: 2rem;
//     //     margin-left: 18px;
//     // }
    

//     .container-menu-right{
//         display: none;
//     }
//     .menu_items_show{
//         position: fixed;
//         width: 100vw;
//         height: calc(100% - 65px);
//         background: #414141;
//         // top: -100vh;
//         text-align: center;
//         transition: all .4s;
//         flex-direction: column;
//         top: 65px;
//         color: white;
//     }
//     .menu_items li{
//         display: none;
//     }
//     .menu_items li:hover{
//         background: none;
//     }
//     // .menu_items li a:hover {
//     //     color: red;
//     // }
//     .logo_dgapp{
//         width: 5rem;
//         cursor: pointer;
//     }

//     .class-list{
//         display: block;
//         background: #414141;
//         // margin-left: 4.5rem;
//         // margin-right: 4.5rem;

//     }
//     nav ul li p{
//         font-size: 1.5rem;
//         margin-bottom: 0;
//     }

//     nav ul{
//         background: #414141;
//     }
//     nav ul li::before {
//         content: "";
//         height: 0;
//         width: 0;
//         left: 0;
//         bottom: 0;
//         transition: none;
//     }
// } 
//   @media screen and (min-width: 721px) and (max-width: 1480px) {
//     .logo_dgapp{
//         width: 4rem;
//     }
//     .bar_menu{
//         height: 80px; 
//     }     
//     .icondown{
//         width: 13px;
//         margin-left: 8px;   
//     }
//     .class-list{
//         margin-left: 1.5rem;
//         margin-right: 1.5rem;
//         margin-top: 1rem;
//     }
//     .container-menu-right{
//         margin-right: 0.5rem;
//         margin-bottom: 0;
//     }
//     .user-icon {
//         width: 1.2rem;
//     }
//     .user-text {
//         font-size: 0.5rem;
//     } 
//     .flag-us {
//         width: 1.2rem;
//         // z-index: 1;
//         margin-right: 1rem;
//     }
//     .flag-spain {
//         width: 1.2rem;
//         margin-right: 1rem;
//         // z-index: 1;
//     }
//   }

  //dropdown user icon
//   .klk{
//       position: absolute;
//   }
 