.news-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.news-title{
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        color: #0D2F4C;
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
        margin-top: -0.5rem;
    }
}

.news-title-line{    
    content: "";
    width: 4.5rem;
    height: 0.25rem;
    background-color: #75AAD3;
    font-size: 4px;
}

.news-grid-container{
    width: 80%;
    display: grid;
    grid-template-columns: 69% 5% 28%;
}

.news-grid-panel1{
    width: 100%;
    // background-color: red;
}
// .news-selected-tag{
//     // width: 20rem;
//     display: flex;
//     margin-bottom: 0.8rem;
//     p{
//         font-size: 0.8rem;
//         margin: 0;
//         font-weight: bold;
//     }
// }
.news-section-1-news {
    height: 30rem;
}
.news-box{
    width: 100%;
    display: flex; 
    cursor: pointer;
    // background-color: blue;
}

.news-box-img-icon{
   width: 1.5rem;
//    background-color: red; 
}
.news-box-img{
    width: 17.5rem;
    height: 13rem;
    // background-color: blue;
    img{
        width: 15rem;
        height: 10rem;
        object-fit: cover;
    }
}
.news-box-text{
    width: 70%;
    height: 13rem;
    // background-color: blue;
}
.news-box-text-title{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #0D2F4C;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    margin-bottom: 1.4rem;
}

.news-box-text-date{
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
    color: #75AAD3;
    margin-bottom: 0.5rem;
}
.news-box-text-cont{
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
    color: #0D2F4C;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    margin-bottom: 1.4rem;
}
.news-pagination-section{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
}
.news-pagination-container{
    width: 100%;
    display: flex;
}
.pagination{
    margin-bottom: 0;
   
}
.page-item{
    border: none;

}
.page-link{
    border: none;
    color: #0D2F4C;
    font-weight: bold;
    &:hover{
        background-color:transparent;
        border-color:transparent;
        color: #0D2F4C;
        transition: none;
    }
}
.page-item.active .page-link {
    z-index: 3;
    color: #79ADD4;
    background-color:transparent;
    border-color:transparent;
    border: none;
}

.page-link:focus {
    z-index: 3;
    color: #0D2F4C;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}

.news-mostviewed-content {
    display: flex;
    text-align: justify;
    color: #113250;
    width: 100%;
    height: 1.5rem;
    margin-top: 1.1rem;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    // background-color: red;

    &:hover {
        // background-color: #75AAD3;
        color: #75AAD3;
    }
}

.news-mostviewed-content-txt {
    width: 100%;
    height: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    // background-color: blue;
}

// .news-grid-panel2{
// //    background-color: green; 
// }

//new
.new-grid-container{
    width: 85.6%;
    display: grid;
    grid-template-columns: 69% 5% 28%;
}
.new-img-icon-container{
    width: 100%;
    height: 29rem;
    display: flex;
    align-items: center;
}
.new-img-icon-left{
    width: 3.3rem;
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    // background-color: red;
}
.new-img-icon-right{
    display: flex;
    justify-content: flex-end;
    width: 3rem;
    height: 2rem;
    // background-color: red;
}

.new-img-container{
    width: 100%;
    height: 29rem;
    img{
        width: 50rem;
        height: 28rem;
        object-fit: cover;
    }
    // background-color: blue;
}


.new-recent-news {
    width: 100%;
    height: 22rem;
}

.new-title-container{
    width: 50rem;
    // height: 15rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    color: #0D2F4C;
    margin-top: 1.5rem;
    margin-left: 2.8rem;
    // background-color: red;
}

.new-date-container{
    width: 50rem;
    height: 1.2rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: #75AAD3;
    margin-left: 2.8rem;
}

.new-descrip-container{
    width: 50rem;
    font-size: 0.88rem;
    font-weight: bold;
    text-align: justify;
    color: #0D2F4C;
    margin-top: 1rem;
    margin-left: 2.8rem;
    // background-color: red;
 
}

.new-comment-header {
    margin-top: 3rem;
    margin-left: 2.8rem;
    p {
        color: #113250;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
        margin-top: -0.5rem;
    }
}
.new-comment-line {
    content: "";
    width: 3rem;
    height: 0.2rem;
    background-color: #75AAD3;
    font-size: 4px;
    margin-bottom: 1.5rem;
    margin-left: 2.8rem;
}

.new-comment-textarea {
    width: 50rem;
    height: 10rem;
    resize: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    border: #75AAD3 solid 1.5px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-left: 2.8rem;
}

.new-comment-buttons {
    width: 50rem;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // background-color: red;
    margin-left: 2.8rem;
}
.new-comment-button-box{
    min-width: 10rem;
    height: 3rem;
    display: flex;
    // background-color: red;
}
.new-comment-button-like{
        min-width: 3rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: blue;
        border-left: gainsboro solid 1px;
        border-top: gainsboro solid 1px;
        border-bottom: gainsboro solid 1px;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        p{
            margin: 0;
            text-align: center;
            color: #75AAD3;
            padding-right: 0.5rem;
            font-size: 0.8rem;
            font-weight: bold;
        }
}
.new-comment-button-dislike{
    min-width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: gainsboro solid 1px;
    border-left: gainsboro solid 1px;
    border-top: gainsboro solid 1px;
    border-bottom: gainsboro solid 1px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    p{
        margin: 0;
        text-align: center;
        color: #EB455F;
        padding-right: 0.5rem;
        font-size: 0.8rem;
        font-weight: bold;
    }
}
.new-comment-button-send-cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100rem;
    height: 2rem;
    // background-color: red;
    p{
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        // color: #75AAD3;
    }
}

.new-comment-list-cont {
    width: 80%;
    min-height: 8rem;
    max-height: 25rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 6.5rem;
}

.new-comment-list-header {
    width: 100%;
    height: 2rem;

    p {
        width: 3rem;
        margin: 0;
        border-bottom: 2px solid gainsboro;
        font-weight: bold;
        color: #113250;
    }
}

.new-comment-list-container {
    width: 100%;
    min-height: 5rem;
    max-height: 20rem;
    overflow-y: auto;
}

.new-comment-list-container::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.new-comment-list-container::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.new-comment-list-container::-webkit-scrollbar-thumb {
    background-color: #75AAD3;
    border-radius: 0.5rem;
}

.new-comment-list {
    width: 100%;
    margin-top: 1rem;
}

.new-comment-list-user {
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;

    p {
        margin: 0;
        font-size: 0.8rem;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
        object-fit: cover;
    }

}

.new-comment-lis-text {
    height: 1.5rem;
    display: flex;
    align-items: center;
    color: gray;
    text-align: justify;
    margin-left: 2rem;

    p {
        margin: 0;
        font-size: 0.8rem;
        padding-right: 0.5rem;
    }
}

.new-comment-button-send {
        border-radius: 0.6rem;
        width: 10rem;
        height: 2rem;
        border: none;
        color: white;
        background-color: #75AAD3;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 0.5rem;
        // margin-top: 0.8rem;
}

.new-multimedia-container{
    width: 100%;
    height: 25rem;
}

.new-multimedia-content {
    display: flex;
    text-align: justify;
    color: #113250;
    width: 100%;
    height: 5rem;
    margin-top: 0.8rem;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    // background-color: red;

    &:hover {
        // background-color: #75AAD3;
        color: #75AAD3;
    }
}

.new-multimedia-content-video {
    width: 14.5rem;
    height: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    iframe{
        width: 7.5rem;
        height: 4rem;
    }

    // p {
    //     width: 80%;
    //     height: 2.5rem;
    //     text-align: center;
    //     font-size: 0.8rem;
    //     margin: 0;
    //     // font-weight: bold;
    //     color: white;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     display: -webkit-box;
    //     -webkit-line-clamp: 2;
    //     -webkit-box-orient: vertical;
    // }
}

.new-multimedia-content-cont {
    width: 7.5rem;
    height: 4rem;
    // background-color: #113250;
}

.new-multimedia-content-img {
    width: 7.5rem;
    height: 4rem;
    object-fit: cover;
    cursor: pointer;
}

.new-multimedia-content-img-icon {
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 2.3rem;
    position: absolute;
}


//MEDIAS QUERIES

//Phone X
// @media screen and (max-width:420px) {


// //Phone 12/13 Pro Mas
// @media screen and (min-width: 421px) and (max-width: 720px) {



// //Ipad
// @media screen and (min-width: 721px) and (max-width: 1020px) {



//Móviles en horizontal o tablets en vertical
@media screen and (min-width: 768px)  {}


//laptop generic
@media screen and (min-width: 1279px) and (max-width:1365px)  {

    .news-grid-container {
        grid-template-columns: 69% 3% 28%;
    }

    .news-box-img {
        img{
            width: 14rem;
            height: 9.5rem;
        }
    }

    .news-box-text-title {
        font-size: 1.1rem;
    }

    .news-box-text-date {
        font-size: 0.75rem;
    }

    .news-box-text-cont {
        font-size: 0.75rem;
    }

    .new-img-container{
        width: 100%;
        height: 28rem;
        img{
            width: 50rem;
            height: 28rem;
            object-fit: cover;
        }
    }
    

    // .new-img-container img {
    //     width: 44rem;
    //     height: 23rem;
    // }

    .new-img-container{

        height: 25rem;
        img{
            width: 44rem;
            height: 25rem;
        }
    }
    

    .new-title-container {
        width: 44rem;
        font-size: 1.1rem;
    }

    .new-date-container {
        width: 44rem;
        font-size: 0.75rem;
    }

    .new-descrip-container {
        width: 44rem;
        font-size: 0.75rem;
    }
}
//laptop yelissa
@media screen and (min-width: 1366px ) and (max-width:1367px) {
    
    .news-section-1-news {
        height: 25rem;
    }
    .new-recent-news {
        height: 20rem;
    }

    .news-box-img {
        width: 18.8rem;
        height: 13rem;
    }

    .new-img-container{

        height: 25rem;
        img{
            width: 44rem;
            height: 25rem;
        }
    }

    .new-title-container {
        width: 44rem;
        font-size: 1.1rem;
    }

    .new-date-container {
        width: 44rem;
        font-size: 0.75rem;
    }

    .new-descrip-container {
        width: 44rem;
        font-size: 0.75rem;
    }

    .new-comment-textarea {
        width: 44rem;
    }

    .new-comment-buttons {
        width: 44rem;
    }

}
//Monitor cesar
@media screen and (min-width: 1920px) and (max-width:1921px){
  .news-grid-container {
    width: 65%;
}  
.new-grid-container{
    width: 68.5%;
}
}
