.pdf-container{
    width: 80%;
    height: 60rem;
    display: flex;
    // background-color: red;
}
.pdf-grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 75%;
}

.pdf-menu-left{
    width: 100%;
    height: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: red;
}
.pdf-menu-left-cover{
    width: 15rem;
    height: 17rem;
    display: flex;
    justify-content: center;
    // background-color: red;

    img{
        width: 10rem;
        height: 14rem;
    }
}

.pdf-menu-left-text{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    &:hover{
        margin-left: 1rem;
    }
    // background-color: red;
    p{
        font-size: 1rem;
        color: #113250;
        cursor: pointer;
        margin-left: 1.5rem;
        margin-bottom: 0;
    }
    span{
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 0.6rem;
        background-color: #113250;
        position: absolute;
        display: none;
    }

    &:hover{
        span{
            display: flex;
        }
    }
}

.pdf-menu-left-sub-text{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
    // background-color: red;
    p{
        font-size: 1rem;
        font-weight: bold;
        color: #113250;
        margin-bottom: 0;
    }
}

.pdf-menu-left-sub-line{
    content: "";
    width: 13%;
    height: 0.10rem;
    background-color: #75AAD3;
    font-size: 4px;
}

// .pdf-menu-left-text-selected{
//     font-weight: bold;
//     color: #113250;
//     cursor: default;
// }

.pdf-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    // background-color: blue;
    iframe{
        width: 55rem;
        height: 52rem;
    }
}


//COVERS
.pdf-cover-container{
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: red;
}
.pdf-cover-center{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //  background-color: blue;
}

.pdf-cover-box{
    width: 18.95rem;
    height: 23rem;
    display: flex;
    justify-content: space-around;
    // background-color: blue;
    margin-bottom: 2rem;
    cursor: pointer;

    img{
        margin-top: 0.5rem;
        width: 16rem;
        height: 22rem;
        // padding-left: 5rem;
        // padding-right: 5rem;
        &:hover{
            border: #75AAD3 solid 5px;
        }
    }
}

.pdf-cover-container-sub{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: red;
}

.pdf-subtitle{
    width: 85%;
    
    // height: 5rem;
    // background-color: blue;
}

.pdf-subtitle-text{
    width: 90%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    margin-left: 3.5rem;
    // background-color: red;

    p{
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.pdf-subtitle-line{    
    content: "";
    width: 100%;
    height: 0.10rem;
    background-color: #75AAD3;
    font-size: 4px;
}

//laptop generic
@media screen and (min-width: 1279px) and (max-width:1365px)  {
    //COVERS
    .pdf-cover-container{
        width: 80%;
    }
    .pdf-cover-center{
        width: 95%;
    }
    
    .pdf-cover-box{
        width: 14.9rem;
        height: 19rem;
        // background-color: red;
    
        img{
            width: 12.5rem;
            height: 18rem;
        }
    }
    
    .pdf-subtitle{
        width: 80%;
    }
    
    .pdf-subtitle-text{
        width: 90%;
        margin-left: 3rem;
    }

    //PDF
    .pdf-box{
        iframe{
            width: 45rem;
            height: 52rem;
        }
    }
}

//laptop yelissa
@media screen and (min-width: 1366px ) and (max-width:1367px) {
      //COVERS
      .pdf-cover-container{
        width: 80%;
        // background-color: blue;
    }
    .pdf-cover-center{
        width: 95%;
    }
    
    .pdf-cover-box{
        width: 15.9rem;
        height: 19rem;
        // background-color: red;
    
        img{
            width: 13.5rem;
            height: 18rem;
        }
    }
    
    .pdf-subtitle{
        width: 80%;
    }
    
    .pdf-subtitle-text{
        width: 90%;
        margin-left: 3rem;
    }

     //PDF
     .pdf-box{
        iframe{
            width: 48rem;
            height: 52rem;
        }
    }
}

//Monitor hp 2009m
@media screen and (min-width: 1600px) and (max-width:1601px){
    //COVERS
    .pdf-cover-container{
        width: 80.8%;
    }
    
    .pdf-subtitle{
        width: 80.8%;
    }
    .pdf-subtitle-text{
        width: 91%;
    }

}

//Monitor cesar
@media screen and (min-width: 1920px) and (max-width:1921px){
    ///COVERS
    .pdf-cover-container{
        width: 65.7%;
        // background-color: blue;
    }
    .pdf-cover-center{
        width: 95%;
        // background-color: red;
    }
    
    .pdf-cover-box{
        width: 18.52rem;
        height: 23rem;
        // background-color: red;
    
        img{
            width: 15.5rem;
            height: 20rem;
        }
    }
    
    .pdf-subtitle{
        width: 65.7%;
        // background-color: blue;
    }
    
    .pdf-subtitle-text{
        width: 91%;
        margin-left: 3.5rem;
    }

    //PDF
    .pdf-container{
        width: 70%;
        // background-color: red;
    }
    
}