.singlePostContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 7rem;
}
.singlePostTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    // color: steelblue;
    // font-size: 2rem;
    // font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 3rem;
    // border-bottom: solid 0.2rem;
    // width: 70%;
}

.singlePost-img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.singlePost-img{
    display: flex;
    justify-content: center;
    width: 80%;
    // height: 30rem;
    margin-bottom: 0.5rem;
    // border-radius: 1rem;
    // object-fit: cover
  max-height: 100%;
  height: auto;
}
.singlePostDescp-container{
    display: flex;
    justify-content: center;
    // align-items: center;
    text-align: center;
    width: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    // border-radius: 1rem;
    height: 25rem;
    margin-bottom: 2rem;
    
}
.singlePostDescp{
    color: black;
    width: 95%; 
    text-align: center;
    // margin-top: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 1.2rem;
    padding: 1.3rem 0;
}

.postDate{
    display: flex;
    width: 80%;
    font-size: 0.8rem;

}

// .singlePost-view-cont{
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     height: 15rem;
//     margin-bottom: 3rem ;
//     background-color: red;
// }
// .singlePost-view{
//     width: 80%;
//     height: 100%;
//     background-color: blue;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     justify-content: space-evenly;
// }
.eLPooy{
    width: 80% !important; 
}
// .grUxXV{ 
//     display: none !important;
// }
// .carousel-none{
//     display: none !important;
// }

.singlePostContainer h1{
    color:#3A3845;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 2.7rem;  
    line-height: 1rem; 
    margin: 0 0 0; 
    padding: 1.2rem 1.8rem; 
    text-align: center; 
    text-transform: uppercase; 
    font-weight: bold;
    
}
.singlePostContainer h2{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    color: grey;
}

.singlePostContainer h2::after, h2::before{
    content: "";
    position: absolute;
    width: 25em;
    height: 0.1rem;
    background-color: gainsboro;
    top: 0.6em;
}
.singlePostContainer h2::before{
    left: -23em;
    
}
.singlePostContainer h2::after{
    right: -23em;
}

// .singlePost-img:hover {filter: grayscale(80%);}



