.singlePostContainer{
    width: 100%;
    height: 100%;
    margin-top: 7rem;
}
.singlePost{
    margin-left: 8rem;
}
.singlePostImgDescp{
    color: #141E61;
    width: 70rem; 
    text-align: center;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 1.3rem;
}
.singlePostTitle{
    display: flex;
    justify-content: center;
    color: #787A91;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 15rem;
}