@import "./login";
@import "./header";
@import "./modal";
@import "./page404";
@import "./register";
@import "./navbar";
@import "./dashboard";
@import "./newpost";
@import "./singlepost";
@import "./carousel";
@import "./card";
@import "./allpost";
@import "./footer";
@import "./birthday";
@import "./employeeProfile";
@import "./WYSIWYG";
@import "./aboutus";
@import "./regulations";
@import "./employeeDirectory";
@import "./employeeEdit";
@import "./chat";
@import "./training";
@import "./createEvents";
@import "./foodOrder";
@import "./ticketSystem";
@import "./welcome";
@import "./newTraining";
@import "./notifications";
@import "./course";
@import "./formTemple";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: url("../common/images/Fondo.png");
  // background-repeat: no-repeat;
  background-size: cover;
  // background-color: #EEEEEE;
  overflow-x: hidden;
  font-family: 'PT Sans', sans-serif;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #113250;
  border-radius: 7px;
}