@import "./login";
@import "./createperson";
@import "./header";
@import "./mainMenu";
@import "./modal";
@import "./page404";
@import "./register";

html,
body {
  height: 100%;
  // background: rgb(21, 43, 67);
  background-image: linear-gradient(337deg, #152b43, black);
  overflow: hidden;
}
figure {
  margin: 0;
}
// .h100 {
//   height: 100%;
// }
// #root {
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
// }
// #main-container {
//   overflow: hidden;
// }
